.para {
    font-weight: bold;
}

.para.small-para {
    font-size: 40;
    color:aqua;
    background-color: black;
}

.button {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px, 32px;
    display: inline-block;
    text-align: center;
}

#confirm-button {
    background-color: green;
}
#cancel-button {
    background-color: red;
}

.text {
    font-weight: 100;
}

.text .text.child {
    font-weight: bolder;
    font-size: smaller;
    color:blue
}