.odd {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;

}

#second {
    color: blue;
    font-size: 36px;
}

.odd.middle {
    font-size: 24;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
