@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 200px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

a {
    text-decoration: none;
    color:gray;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0 auto;
  gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.left-links {
    margin-right: auto;
}
.right-links {
    margin-left: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}

button {
    padding: 8px 16px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}