body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #eee;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
}

.ul {
    list-style-type: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;
  max-width: 300px;
  min-width: 300px;
  padding: 16px;
}

.footer {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.middle{
  display: flex;
}
.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 20px;
  padding: 48px;
}

.card {
  border-color: black;
  width: 250px;
  height: 250px;
  padding: 20px;
}